@media (max-width: 860px) {
  .support__item {
    flex-direction: column;
    max-width: 100%;
    margin: 0 !important;

    div {
      margin: 0 !important;
      margin-bottom: 12px !important;
    }

    .support__img-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  .support__inner {
    max-width: 100%;
  }
}