.contact {
  margin-bottom: 63px;
}

.contact__container {
  background-color: $bg-color;
  padding: 64px 51px 64px 54px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__img {
  margin-right: 30px;
}

.contact__text {
  max-width: 600px;
  width: 100%;
  margin-right: 23px;
  font-size: 17px;
  line-height: 22px;
}