.price {
  padding-top: 90px;
}

.price__title {
  font-size: 46px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
}

.price__definition {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
}

.price__item {
  display: flex;
  align-items: center;

  &:first-child,
  &:nth-child(3) {
    .price__text {
      max-width: 300px;
      width: 100%;
    }
  }

  &:nth-child(2) {
    .price__text {
      max-width: 158px;
      width: 100%;
    }
  }

  &:not(:last-child) {
    margin-right: 69px;
  }
}

.price__img {
  margin-right: 29px;
}

.price__text {
  line-height: 21px;
  margin: 0;
}

/*TABLE*/

.table-wrapper {
  background-color: $white;
  padding: 36px 40px;
  border-radius: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
}

tr:first-child {
  th {
    padding-bottom: 15px;
    color: $blue;
    font-weight: 700;
    line-height: 25px;
  }
}

tr:last-child {
  td {
    font-weight: 700;
    font-size: 24px;
  }
}

td {
  padding: 15px 19px;
  font-size: 20px;
  line-height: 25px;
  &:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

.price__note {
  color: #8E8E8E;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 33px;
}